@import '../config/colors.scss';
@import '../functions/colors.scss';

.bg {
  &--white {
    background-color: color(white);
  }

  &--black {
    background-color: color(black);
  }

  &--ming {
    background-color: color(ming);
  }

  &--cream {
    background-color: color(cream);
  }

  &--orange {
    background-color: color(orange);
  }

  &--brown {
    background-color: color(brown);
  }
}