@import '../config/colors.scss';
@import '../config/spacer.scss';
@import '../functions/colors.scss';

.border {
  border-width: 1px;
  border-style: solid;

  &--radius {
    border-radius: $spacer;

    &-more {
      border-radius: 2 * $spacer;
    }
  }

  &--white {
    @extend .border;
    border-color: color(white);
  }

  &--black {
    @extend .border;
    border-color: color(black);
  }

  &--ming {
    @extend .border;
    border-color: color(ming);
  }

  &--cream {
    @extend .border;
    border-color: color(cream);
  }

  &--orange {
    @extend .border;
    border-color: color(orange);
  }

  &--brown {
    @extend .border;
    border-color: color(brown);
  }
}