@import '../config/colors.scss';
@import '../functions/colors.scss';

.text-color {
  &--white {
    color: color(white);
  }

  &--black {
    color: color(black);
  }

  &--ming {
    color: color(ming);
  }

  &--cream {
    color: color(cream);
  }

  &--orange {
    color: color(orange);
  }

  &--brown {
    color: color(brown);
  }
}
